.intro {
	padding: 4em 0;
	width: 100%;
	background-color: rgba($mdGray, 0.1);
	text-align: center;
}

.intro__text {
	width: 29%;
	padding: 0.5em;
	font-size: 1.125rem;
}

.intro__title {
	font-size: 1.875rem;
}
