*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  color: $blk900;
  margin: 0;
  font-family: $ff-ss;
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

:focus {
  outline: 3px solid $accent100;
  outline-offset: 3px;
}
