/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
	/* Main color styles */
	--bg-color: hsl(0, 0%, 100%);
	--font-color: hsl(250, 0%, 40%);

	/* Navigation links color */
	--nav-bg-color: hsl(200, 0%, 100%);
	--nav-font-color: hsl(0, 0%, 30%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	scroll-padding-top: 5.3rem;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 300;
	color: var(--font-color);
	margin: 0 5%;
}

/* Spacing Help */
.small-gap {
	padding-bottom: 2rem;
}

.medium-gap {
	padding-bottom: 5rem;
}

.large-gap {
	padding: 10rem 0;
}

/* Text Sizing */
.paragraph-small {
	margin: 10px 0;
	font-size: 0.9rem;
	line-height: 0.5rem;
}

.paragraph-medium {
	margin: 10px 0;
	font-size: 1.25rem;
	line-height: 1rem;
}

.paragraph-big {
	margin: 20px 0 15px 0;
	font-size: 1.5rem;
	line-height: 2rem;
}

/* Font Weights */
.weight-300 {
	font-weight: 300;
}
.weight-300-i {
	font-weight: 300;
	font-style: italic;
}

.weight-400 {
	font-weight: 400;
}
.weight-400-i {
	font-weight: 400;
	font-style: italic;
}

.weight-500 {
	font-weight: 500;
}
.weight-500-i {
	font-weight: 500;
	font-style: italic;
}

.weight-700 {
	font-weight: 700;
}
.weight-700-i {
	font-weight: 700;
	font-style: italic;
}

.container {
	margin: 5.3rem 20%;
}

.top {
	height: 5.5rem;
	width: 100%;
}

/* Navigation Bar styling */
#navbar {
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	position: fixed;
	background-color: var(--nav-bg-color);
	-webkit-backdrop-filter: blur(1rem);
	opacity: 0.8;
	backdrop-filter: blur(1rem);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul li {
	list-style-type: none;
	display: inline;
	padding: 8px;
}

ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--nav-font-color);
}

/* Grid Styles */
.grid-layout {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	margin: 5% 0 0;
}

.work-image {
	height: 400px;
	width: auto;
}

.work-image > :hover {
	height: 100%;
	width: 100%;
	background-color: black !important;
	opacity: 0.4;
	transition: 200ms ease-in-out;
}

a.invisible-link {
	display: block;
	height: 100%;
}

.work-image.work-1 {
	background: url(/resources/images/projects/kaveman-barNgrill.png) center /
		cover;
}

.work-image.work-2 {
	background: url(/projects/nftPreviewCard/screenshots/screenshot1440.png)
		center / cover;
}

.work-image.work-3 {
	background: url(/resources/images/projects/pac-man-js.png) center / cover;
}

.work-image.work-4 {
	background-image: url(/resources/images/workInProgress.png),
		url(/resources/images/projects/will-smith-tribute.png);
	background-size: contain, cover;
	background-position: center;
}

.work-image.work-5 {
	background: url("https://www.fillmurray.com/640/360");
	background-size: cover;
}

.work-image.work-6 {
	background: linear-gradient(#e66465, #9198e5);
	background-size: cover;
}

/* Footer Navigation */
footer ul {
	display: flex;
	justify-content: center;
}
