$white: hsl(0 0% 100%);
$bluegreen: hsl(170 46% 20%);
$blk500: hsl(0 0% 20%);
$blk600: hsl(0 0% 19%);
$blk700: hsl(0 0% 18%);
$blk800: hsl(0 0% 8%);
$blk900: hsl(0 0% 0%);
$accent100: hsl(170 82% 48%);
$accent200: hsl(169 82% 45%);
